<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>WebApp</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Servlet1</display-name>
		<servlet-name>Servlet1</servlet-name>
		<servlet-class>com.cognizant.Servlet1</servlet-class>
	</servlet>
	<context-param>
		<param-name>company</param-name>
		<param-value>Accenture</param-value>
	</context-param>
	<servlet>
		<description>
		</description>
		<display-name>Servlet2</display-name>
		<servlet-name>Servlet2</servlet-name>
		<servlet-class>com.cognizant.Servlet2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet3</display-name>
		<servlet-name>Servlet3</servlet-name>
		<servlet-class>com.cognizant.Servlet3</servlet-class>
	</servlet>
    <servlet>
        <description/>
        <display-name>serv1</display-name>
        <servlet-name>serv1</servlet-name>
        <servlet-class>com.cognizant.serv1</servlet-class>
        <init-param>
	<param-name>empname</param-name>
	<param-value>Ayush</param-value>
	</init-param>
    </servlet>
    <servlet>
        <description/>
        <display-name>serv2</display-name>
        <servlet-name>serv2</servlet-name>
        <servlet-class>com.cognizant.serv2</servlet-class>
        <init-param>
	<param-name>empname</param-name>
	<param-value>Akshay</param-value>
	</init-param>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Sess1</display-name>
    	<servlet-name>Sess1</servlet-name>
    	<servlet-class>com.cognizant.Sess1</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>dbconnection</display-name>
    	<servlet-name>dbconnection</servlet-name>
    	<servlet-class>com.acc.utility.dbconnection</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LoginServlet</display-name>
    	<servlet-name>LoginServlet</servlet-name>
    	<servlet-class>com.cognizant.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>Register</display-name>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.cognizant.Register</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ChangePassword</display-name>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.cognizant.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>UserDelete</display-name>
        <servlet-name>UserDelete</servlet-name>
        <servlet-class>com.cognizant.UserDelete</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>UpdateUserServlet</display-name>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.cognizant.UpdateUserServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>Servlet1</servlet-name>
		
		<url-pattern>/Servlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet2</servlet-name>
		<url-pattern>/Servlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet3</servlet-name>
		<url-pattern>/Servlet3</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>serv1</servlet-name>
        <url-pattern>/serv1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serv2</servlet-name>
        <url-pattern>/serv2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Sess1</servlet-name>
    	<url-pattern>/Sess1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>dbconnection</servlet-name>
    	<url-pattern>/dbconnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDelete</servlet-name>
        <url-pattern>/UserDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
	<welcome-file>form.html</welcome-file>
		
	</welcome-file-list>
	
</web-app>
